<h2><%= t('view.detail') %></h2>
<p><%= t('view.title') %>: <%= @task.title %></p>
<p><%= t('view.content') %>: <%= @task.content %></p>
<p><%= t('view.end_date') %>: <%= @task.end_date %></p>
<%= link_to t('view.task_list'), tasks_path %>